# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build Folders (you can edit the folders as per your requirement)
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/

# Rider
.idea/

# Mac files
.DS_Store
